{% extends "index.html" %}
{% block cuadroLogin %}
<div class="row">

    <div class="col">
      <h1>Informacion</h1>
    </div>
    <div class="col">
      {% if error %}
      <p class=error><strong>Error:</strong> {{ error }}
        {% else %}
      <form method=post>
        <dl>
          <dt>Nombre:
          <dd><input type=text name=name placeholder={{nombre}} value="{{
              request.form.username }}">
          <dt>Apellidos:
          <dd><input type=text name=surname placeholder={{apellido}}>
          <dt>Edad:
          <dd><input type=number name=age placeholder={{edad}}>
        </dl>
        <p><input type=submit value=Add>
      </form>
    </nav>
  </div>
  {% endif %}
    
</div>

{% endblock %}